@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');


$primary: #007F5F;
$primary-lighter: #2B9348;
$primary-darker: #1d5c2f;
$secondary: #EEEF20;
$secondary-lighter: #fffd7a;
$dark: #495057;
$darker: #212529;
$light: #f1faee;
$contrast-1: #233d4d;
$contrast-2: #fe7f2d;
$contrast-3: #f13030;
$contrast-4: #a1c181;
$contrast-5: #619b8a;
