body{
    background-color: rgb(56, 55, 53);
    color: white;
}

div + h2 {
    background-color: red;
}

.navbar{
    background-color: chocolate;
}

#my-picture{
    width: 250px;
    border-radius: 20px;
}

h1{ 
    text-align: center;
}

a[href^="#"] {
    font-weight: bolder;
    color: rgb(31, 86, 34);
}

a[href^="https"] {
    font-weight: bolder;
    color: rgb(86, 74, 31);
}